.flex-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
  }
  
  .flex-row-item {
    flex: 1 0; /* Allows the item to grow/shrink between a min width of 200px */
    padding: 10px;
    border-right: 1px solid #dee2e6;
    min-width: 150px; /* Minimum width for each flex item */
    max-width: 300px; /* Maximum width for each flex item */
}

  .company-row-item {
    flex: 1.5 1 5rem;
  }
  
  .flex-row-item:last-child {
    border-right: none; /* Remove the border on the last item */
  }
  
  .flex-row-details {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
  }