.bubble-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .skill-badge {
    padding: 0.25rem;
    font-size: 0.75rem;
    color: #111;
    border-radius: 12px;
    text-align: center;
    border: 1px solid grey;
    display: flex;
    margin: 5px;
  }