.bubble-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .skill-badge {
    padding: 0.5rem;
    font-size: 0.75rem;
    color: #fff;
    border-radius: 12px;
    text-align: center;
  }